<odoo>
    <menuitem id="menu_pestops_document_profiles"
              name="Document Profiles"
              parent="pestops_core.menu_pestops_config"
              action="action_pest_document_profile"
              groups="pestops_core.group_pestops_manager,pestops_core.group_pestops_admin"
              sequence="90"/>
</odoo>
