.dashboard-main{
    background-color: rgb(160 160 160 / 20%);
    overflow: auto;
    height: 100%;
}

.chart{
    background-color: rgb(255, 255, 255); 
}

.card {
    height: 100%;
   
    border-radius: 10px;
    border: none;
    position: relative;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.dashboard_top_menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

}

