<odoo>
    <menuitem id="menu_pestops_production_settings"
              name="Production Settings"
              parent="pestops_core.menu_pestops_config"
              action="action_pestops_production_settings"
              groups="pestops_core.group_pestops_manager,pestops_core.group_pestops_admin"
              sequence="70"/>
    <menuitem id="menu_pestops_automation_runs"
              name="Automation Runs"
              parent="pestops_core.menu_pestops_config"
              action="action_pestops_automation_runs"
              groups="pestops_core.group_pestops_manager,pestops_core.group_pestops_admin"
              sequence="80"/>
</odoo>
