<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <menuitem id="material_request_root" name="Material Request" groups="employee_material_management.group_material_request_employee"  web_icon="employee_material_management,static/description/icon.png"/>
        <menuitem id="material_request_menu" name="Material Request" parent="material_request_root" action="material_request_action"/>
    </data>
</odoo>        