<odoo>
<data>
    <menuitem id="server_monitoring_root" 
              name="Server monitoring" 
              groups="im_server_monitoring.group_server_monitoring_user"
              action="server_monitoring_action_client"  
              web_icon="im_server_monitoring,static/description/icon.png" 
              sequence="1"/>
   

</data>
</odoo>